.alert-view {width:250px;height:100px;text-align: center;background:#333;color:#eee;transition: all 0.5s ease-out;opacity: 0;}
.alert-view.drunk-created {opacity: 1;}
.alert-view.drunk-removed {opacity: 0;}
.title {font-weight: bold}
.content {color: yellowgreen}