<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,user-scalable=no" />
    <title>drunk.Component - demo</title>
    <script src="../../build/drunk.js"></script>

    <style>
        .hide {
            display: none;
        }
        
        .strike {
            text-decoration: line-through;
        }
    </style>
</head>

<body>
    <p>
        <input type="text" placeholder="输入任务并按回车添加" drunk-model="content" drunk-on='keyup: $event.keyCode === 13 && addTodo()' />
    </p>

    <todo-item drunk-repeat="todo,index in todoList" content="{{todo.title}}" index="{{index}}" completed="{{todo.completed}}"
        on-remove="confirmRemove(index)">
    </todo-item>

    <alert-view content="确认要删除该任务吗" two-way="visible" visible="{{alertVisible}}" on-confirm="removeTodo()">
        <p slot="title">删除该任务</p>
        <button drunk-on:click="cancelRemove()">取消</button>
    </alert-view>

    <script type='text/tpl' id="todo-item.html">
        <p drunk-class="{strike: completed}">
            <strong>{{content}}</strong>
            <button drunk-on="click: $emit('remove', index)">删除</button>
            <button drunk-on="click: completed = !completed">{{completed ? '取消' : '完成'}}</button>
        </p>
    </script>

    <script src="main.js"></script>
</body>

</html>